.newone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;  
    color: aliceblue;
}

button{
    color: rgb(68, 119, 119);
}

img{
    height: 400px;
    width: 400px;
}