.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: bisque;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .email,
  .password,
  .submit {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input[type='text'],
  input[type='password'] {
    width: 200px;
  }
  