.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #45a049;
  }
  
  .form-field{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-bottom: 5px;
  }