.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65%;
  background-color: rgb(218, 211, 202);
  border-radius: 10px;
  border: 1px solid white;
  padding-top: 30px;
  box-shadow: 5px 10px #888888;
  color: blueviolet;
  width: 40%;
  }
  
  .form-field{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-bottom: 5px;
  }

  button{
    border-radius: 10px;
    box-shadow: 1px 3px #888888;
    background-color: rgb(124, 124, 237);
    color: white;
  }